aws/step_functions/nightly_flow.asl.json
{
  "Comment": "Nightly Batch Flow - Data ingestion and learning workflow",
  "StartAt": "AssembleRunContext",
  "States": {
    "AssembleRunContext": {
      "Type": "Pass",
      "Parameters": {
        "defaults": {
          "run_id.$": "$$.Execution.Id",
          "started_at.$": "$$.Execution.StartTime",
          "schedule_type": "nightly",
          "trigger": "scheduled",
          "mode": "live",
          "source": "step-functions/nightly-flow",
          "analysis_type": "daily",
          "dry_run": false
        },
        "overrides.$": "$"
      },
      "ResultSelector": {
        "run_context.$": "States.JsonMerge($.defaults, $.overrides, true)"
      },
      "ResultPath": "$",
      "OutputPath": "$",
      "Next": "InvokeDataIngestion"
    },
    "InvokeDataIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId.$": "$.agent_ids.data_ingestion",
        "AgentAliasId": "TSTALIASID",
        "SessionId.$": "$.run_context.run_id",
        "InputText": "Process today's raw trade data from S3 and create structured files."
      },
      "ResultPath": "$.ingestion_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "IngestionError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForKBSync"
    },
    "WaitForKBSync": {
      "Type": "Wait",
      "Seconds": 60,
      "Comment": "Allow Bedrock KB sync to finish",
      "Next": "InvokeLearningLambda"
    },
    "InvokeLearningLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arns.learn_from_losses",
        "Payload": {
          "mode.$": "$.run_context.mode",
          "source.$": "$.run_context.source",
          "schedule_type.$": "$.run_context.schedule_type",
          "trigger.$": "$.run_context.trigger",
          "date.$": "$.run_context.started_at",
          "run_id.$": "$.run_context.run_id",
          "dry_run.$": "$.run_context.dry_run",
          "analysis_type.$": "$.run_context.analysis_type"
        }
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.learning_result",
      "Retry": [
        {
          "ErrorEquals": ["States.Timeout", "States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "LearningError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckLearningResults"
    },
    "CheckLearningResults": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.learning_result.output.rules_updated",
          "IsPresent": true,
          "Next": "UpdateRiskRules"
        }
      ],
      "Default": "GenerateSummary"
    },
    "UpdateRiskRules": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId.$": "$.agent_ids.risk_control",
        "AgentAliasId": "TSTALIASID",
        "SessionId.$": "$.run_context.run_id",
        "InputText.$": "States.Format('Update risk rules based on learning insights: {}', States.JsonToString($.learning_result.output))"
      },
      "ResultPath": "$.risk_update_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "RulesUpdateError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GenerateSummary"
    },
    "GenerateSummary": {
      "Type": "Pass",
      "Parameters": {
        "run_context.$": "$.run_context",
        "ingestion_status.$": "States.Format('{}', $.ingestion_result)",
        "learning_status.$": "States.Format('{}', $.learning_result)",
        "completed_at.$": "$$.State.EnteredTime"
      },
      "Next": "NightlyComplete"
    },
    "NightlyComplete": {
      "Type": "Succeed"
    },
    "IngestionError": {
      "Type": "Fail",
      "Error": "IngestionError",
      "Cause": "Data ingestion agent failed"
    },
    "LearningError": {
      "Type": "Fail",
      "Error": "LearningLambdaError",
      "Cause": "Learning lambda invocation failed"
    },
    "RulesUpdateError": {
      "Type": "Pass",
      "Parameters": {
        "status": "PARTIAL",
        "rules_update_failed": true,
        "error.$": "$.error",
        "learning_result.$": "$.learning_result"
      },
      "End": true
    }
  }
}
