aws/step_functions/signal_flow.asl.json
{
  "Comment": "Enhanced Signal Flow with Parallel Processing",
  "StartAt": "PreflightChecks",
  "States": {
    "PreflightChecks": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ValidateMarketHours",
          "States": {
            "ValidateMarketHours": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.market_snapshot.market_state",
                  "StringEquals": "CLOSED",
                  "Next": "MarketClosedError"
                }
              ],
              "Default": "MarketOpen"
            },
            "MarketOpen": {
              "Type": "Pass",
              "End": true
            },
            "MarketClosedError": {
              "Type": "Fail",
              "Error": "MarketClosed",
              "Cause": "Market state is CLOSED"
            }
          }
        },
        {
          "StartAt": "CheckAccountHealth",
          "States": {
            "CheckAccountHealth": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.account_state.daily_pnl",
                  "NumericLessThan": -1500,
                  "Next": "DailyLimitReached"
                }
              ],
              "Default": "AccountHealthy"
            },
            "AccountHealthy": {
              "Type": "Pass",
              "End": true
            },
            "DailyLimitReached": {
              "Type": "Fail",
              "Error": "DailyLimitExceeded",
              "Cause": "Daily PnL limit breached"
            }
          }
        }
      ],
      "Next": "InvokeDecisionEngine"
    },
    "InvokeDecisionEngine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId.$": "$.agent_ids.decision_engine",
        "AgentAliasId": "TSTALIASID",
        "SessionId.$": "$.session_id",
        "InputText.$": "States.Format('Analyze market conditions and generate trading decision: {}', States.JsonToString($.market_snapshot))"
      },
      "ResultPath": "$.decision_result",
      "Next": "ParseDecision",
      "Retry": [
        {
          "ErrorEquals": [
            "Bedrock.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 3.0
        },
        {
          "ErrorEquals": [
            "Bedrock.ValidationException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DecisionError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ParseDecision": {
      "Type": "Pass",
      "Parameters": {
        "decision.$": "States.StringToJson($.decision_result.completion)",
        "market_snapshot.$": "$.market_snapshot",
        "account_state.$": "$.account_state",
        "agent_ids.$": "$.agent_ids",
        "session_id.$": "$.session_id"
      },
      "Next": "CheckDecisionAction"
    },
    "CheckDecisionAction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.decision.decision",
          "StringEquals": "WAIT",
          "Next": "ReturnWaitDecision"
        }
      ],
      "Default": "InvokeRiskControl"
    },
    "ReturnWaitDecision": {
      "Type": "Pass",
      "Parameters": {
        "status": "WAIT",
        "approved": false,
        "reason": "Decision engine recommends waiting",
        "decision.$": "$.decision"
      },
      "End": true
    },
    "InvokeRiskControl": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId.$": "$.agent_ids.risk_control",
        "AgentAliasId": "TSTALIASID",
        "SessionId.$": "$.session_id",
        "InputText.$": "States.Format('Evaluate risk for proposed trade: {} with account state: {} and market conditions: {}', States.JsonToString($.decision), States.JsonToString($.account_state), States.JsonToString($.market_snapshot))"
      },
      "ResultPath": "$.risk_result",
      "Next": "ParseRiskResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Bedrock.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 3.0
        },
        {
          "ErrorEquals": [
            "Bedrock.ValidationException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RiskError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ParseRiskResult": {
      "Type": "Pass",
      "Parameters": {
        "approved.$": "States.StringToJson($.risk_result.completion).approved",
        "position_size.$": "States.StringToJson($.risk_result.completion).position_size",
        "risk_score.$": "States.StringToJson($.risk_result.completion).risk_score",
        "decision.$": "$.decision",
        "risk_warnings.$": "States.StringToJson($.risk_result.completion).warnings"
      },
      "Next": "CheckApproval"
    },
    "CheckApproval": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approved",
          "BooleanEquals": true,
          "Next": "ApprovedTrade"
        }
      ],
      "Default": "RejectedTrade"
    },
    "ApprovedTrade": {
      "Type": "Pass",
      "Parameters": {
        "status": "APPROVED",
        "approved": true,
        "action.$": "$.decision.decision",
        "position_size.$": "$.position_size",
        "confidence.$": "$.decision.confidence",
        "stop_loss.$": "$.decision.stop_loss",
        "take_profit.$": "$.decision.take_profit",
        "risk_score.$": "$.risk_score",
        "reason.$": "$.decision.reasoning",
        "warnings.$": "$.risk_warnings"
      },
      "End": true
    },
    "RejectedTrade": {
      "Type": "Pass",
      "Parameters": {
        "status": "REJECTED",
        "approved": false,
        "action.$": "$.decision.decision",
        "position_size": 0,
        "reason.$": "$.risk_result.completion.reason",
        "risk_score.$": "$.risk_score",
        "warnings.$": "$.risk_warnings"
      },
      "End": true
    },
    "DecisionError": {
      "Type": "Pass",
      "Parameters": {
        "status": "ERROR",
        "approved": false,
        "position_size": 0,
        "reason": "Decision engine error",
        "error.$": "$.error"
      },
      "End": true
    },
    "RiskError": {
      "Type": "Pass",
      "Parameters": {
        "status": "ERROR",
        "approved": false,
        "position_size": 0,
        "reason": "Risk control error",
        "error.$": "$.error"
      },
      "End": true
    }
  }
}
